h1
{
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
    font-size: 28px;
	letter-spacing: .2em;
	line-height: 1em;
	margin:30px;
	text-transform: uppercase;
}

p
{
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-size:12px;
	margin-left:30px;
}

.state rect {
  fill: #dedede;
}

.state text {
  font: 15px sans-serif;
  font-weight: bold;
  text-anchor: middle;
  fill: #dedede;
}

.state--red rect {
  fill: #a6cee3;
}

.state--red text {
  font: 15px sans-serif;
  font-weight: bold;
  text-anchor: middle;
  fill: white;
}

.state--green rect {
  fill: #1f78b4;
}

.state--green text {
  font: 15px sans-serif;
  font-weight: bold;
  text-anchor: middle;
  fill: white;
}

.state--yellow rect {
  fill: #b2df8a;
}

.state--yellow text {
  font: 15px sans-serif;
  font-weight: bold;
  text-anchor: middle;
  fill: white;
}

.state--blue rect {
  fill: #33a02c;
}

.state--blue text {
  font: 15px sans-serif;
  font-weight: bold;
  text-anchor: middle;
  fill: white;
}